extends layout

block content
	h1= title
	p Welcome to #{title}
	p GitStatus is a Node.js application that builds widgets for Statusboard for iPad to show information about GitHub repos

	h2 Submitted data
	p= type
	p= user
	p= repo
	p= token
