extends layout

block content
	h1= title
	p Click the link below to add the widget to your Statusboard (You need to have Statusboard installed) or <a href="">email the widget</a>.
	p <a href="#{widget_url}">Add Widget</a>
	h2 Submitted data
	p= type
	p= user
	p= repo
	p= token
